#MainWindow {
    background-color: #1e1e2e;
    /* background-color: black; */
    /* background-color: transparent; */


    color: #ffffff;
    selection-background-color: #007acc;
    /* padding: 2px;
    margin: 2px; */
}

#Window {
    background-color: #1e1e2e;

}

#Editor {
    background-color: #1e1e2e;
    color: white;
    selection-background-color: rgba(255, 255, 255, 0.5);
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid #F38BA8;
}

#Terminal {
    background-color: #1e1e2e;
    color: white;
    selection-background-color: rgba(255, 255, 255, 0.5);
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid #F38BA8;
    font-size: 19px;
}

#Finder {
    border: 2px solid #F38BA8;
    font-size: 22px;
    background-color: #1e1e2e;
    color: white;
    border-radius: 15px;
    /* border: 2px solid rgb(249, 226, 175); */

}

#GoLine {
    font-size: 22px;
    background-color: #1e1e2e;
    color: white;
    border-radius: 15px;
    border: 2px solid rgb(249, 226, 175);
}

#AutoCompleter {
    background-color: #1e1e2e;
    color: #ffffff;
    font-size: 19px;
    /* selection-background-color: rgba(255, 255, 255, 0.5); */
    selection-background-color: white;

    selection-color: white;
    border: 2px solid #F38BA8;
    border-radius: 10px;
    outline: none;
}

#AutoCompleter::item {
    border: none;
    outline: none;
    padding: 6px;
}

#AutoCompleter::item:hover,
#AutoCompleter::item:selected {
    background-color: #89b4fa;
    border-radius: 15px;
    color: white;
    border: none;
    outline: none;
}

#GitPanel {
    border: 2px solid #89b4fa;
    border-radius: 15px;
}

#DockTitles{
    background-color: transparent;
    color: white;
    padding: 4px;
    border-radius: 10px;
    margin: 4px
}



#Docks {
    background-color: #1e1e2e;
    border: 2px solid #F9E2AF;
    border-radius: 10px;
    color: #ffffff;
}

/* #TitleBarBG {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px;
} */

#TitleBarBG {
    background-color: rgba(30,30,46, 200);
    /* background-color: rgba(255, 255, 255, 200); */

    /* background-color: rgba(255, 255, 255, 200); */
    /* background-color: #1e1e2e; */


    border: none;
    border-radius: 0px;
}

#TitleBarName {
    color: white;
    font-weight: bold;
    padding: 5px;
}

#TitleBarMin, #TitleBarMax, #TitleBarClose {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

#TitleBarMax {
    font-size: 16px;
}

#TitleBarMin:hover, #TitleBarMax:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

#TitleBarClose:hover {
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 3px;
}

#DocStrings {
    background-color: #1e1e2e;
    color: white;
    border: 2px solid #F9E2AF;
    border-radius: 10px;
    font-family: 'Maple Mono';
    font-size: 19px;
    padding: 5px;
}
#DocStrings::title {
    background-color: #2b2b2b;
    color: black;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}


#FileMaker {
    background-color: #1e1e2e;
    border: 1px solid #3c3c3c;
    color: #ffffff;
}

#FolderMaker {
    background-color: #1e1e2e;
    border: 1px solid #3c3c3c;
    color: #ffffff;
}


#DirectoryViewer:hover::item{
    background-color: #3a3a3a;
    color: white;

    border-radius: 15px;
    border: none;
    outline: none;

}

#DirectoryViewer {
    color: #ffffff;
    font-size: 19px;
    selection-background-color: rgba(255, 255, 255, 0.5);
    selection-color: white;
    border-radius: 10px;
    border: 2px solid #F38BA8;
    /* outline: none; */
}


#DirectoryViewer:hover::item,
#DirectoryViewer:selected::item{
    background-color: transparent;
    border-radius: 15px;
    color: white;

}

#DirectoryViewer:selected::item{
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    border: 2px solid #F38BA8;

}



#DirectoryViewer::item {
    padding: 5px;
    border: none;
    border-radius: 10px;
}

#DirectoryViewer::item:selected {
    background-color: #89b4fa;
    color: black;
    margin: 2px;
    border-radius: 10px;
}

#DirectoryViewer::item:hover {
    background-color: #3a3a3a;
    color: white;
    border-radius: 10px;
}



#OpenedFiles {
    background-color: #1e1e2e;
}

#OpenedFiles::tab {
    background: #313244;
    color: white;
    padding: 6px 12px;
    border: 1px solid #45475a;
    border-bottom: none;
    margin-right: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#OpenedFiles::tab:selected{
    background: #585b70;
    color: #f5f5f5;
}

#OpenedFiles::tab:hover{
    background: #6c7086;
}

#CloseTabButton {
    background-color: transparent;
    color: #cdd6f4;
    font-size: 10px;
    padding: 0px;
    margin: 2px;
    border: none;
}

#CloseTabButton:hover {
    background-color: #f38ba8;
    color: black;
    border-radius: 2px;
}

#CloseTabButton:pressed {
    background-color: #cba6f7;
    color: black;
}

#SyntaxChecker {
    color: white;
}

#NumberLines {
    font-family: "Maple-Mono";
    background-color: #1e1e2e;
}


#Greeting {
    font-size: 55px;
    color: white;
    text-align: center;
    font-family: 'Maple Mono';
    font-weight: bold;
    font-style: italic;
}


#Date {
    font-size: 22px;
    color: white;
    text-align: center;
    font-family: 'Maple Mono';
    font-weight: bold;
    font-style: italic;
}


#TotalCommits, #ActiveBranch, #RemoteURL, 
#Username, #CommitInfo, #CommitTime, 
#CommitMessage, #RepoName, #RepoNotFound, #fileChanges, #UntrackedFiles {
    color: #cdd6f4;
    font-size: 13px;
    font-family: 'Maple Mono';
    font-weight: bold;
    font-style: italic;
    /* font-family: 'JetBrains Mono', monospace; */
}

#CommitMessage, #CommitTime, #TotalCommits, #fileChanges, #UntrackedFiles {
    padding-left: 15px;
}

/* #fileChanges {
    padding-left: 30px;
} */

#ActiveBranch, #RemoteURL, #RepoName {
    padding-left: 15px;
}

#CommitInfo {
    color: #f38ba8;
    font-weight: bold;
    font-size: 19px;
}

#Username {
    font-size: 16px;
    font-weight: bold;
    color: #89b4fa;
}

#RepoInfo {
    color: #a6e3a1;
    font-family: 'Maple Mono';
    font-weight: bold;
    font-style: italic;

    font-size: 19px;
}

#RepoNotFound {
    color: #f38ba8;
    font-size: 13px;
    font-style: italic;
}

#UserProfile {
    margin-top: 8px;
    margin-bottom: 4px;
}


#ShortCutTexts {
    font-size: 22px;
    color: white;
    text-align: center;
    font-family: 'Maple Mono';
    font-weight: bold;
}

#MessageBox QLabel {
    color: white;

}

#MessageBox {
    background-color: #1e1e2e;
    color: white;
    font-family: 'Maple Mono';
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #89b4fa;
    border-radius: 10px;
}

#MessageBoxSave {
    background-color: #89b4fa;
    color: white;
    /* color: #1e1e2e; */
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: bold;
}
#MessageBoxSave:hover {
    background-color: #74c7ec;
}

#MessageBoxSaveNot {
    background-color: #f38ba8;
    color: #1e1e2e;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: bold;
}
#MessageBoxSaveNot:hover {
    background-color: #f7768e;
}

#MessageBoxCancel {
    background-color: #313244;
    color: #cdd6f4;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: bold;
}
#MessageBoxCancel:hover {
    background-color: #45475a;
}

QScrollBar:vertical {
    background: #1e1e2e;
    color: white;

    width: 10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical{
    background: white;
    color: white;
    min-height: 20px;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
    color: white;
}


QTabBar::tab {
    background: transparent;
    color: white;
    padding: 6px 12px;
    margin: 6px 12px;
    outline: none;
    border: none;
    border-bottom: none;
}

QTabBar::tab:selected {
    background: transparent;
    font-weight: bold;
}

QTabBar::tab:hover {
    background: transparent;
}

QTabWidget::pane {
    border: none;
}